{% extends "homepage.html.twig"%}

{% block body %}
<!-- Blog Posts -->
<section class="section">
    {% include 'partial/page_title.html.twig' with {'title': 'ChatBox'} %}
</section>

{% endblock %}
